.badge {
  cursor: pointer;
  color: #00497b !important;
  background-color: #bce4fa !important;
}
.selected {
  cursor: pointer;
  color: white !important;
  background-color: #00497b !important;
}
